## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Clyde River,CA,70.4692,-68.5914,39.43,93,75,9.22,broken clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,39.31,87,40,28.77,light rain
2,2,Zyryanka,RU,65.7500,150.8500,48.40,56,68,7.02,broken clouds
3,3,Auki,SB,-8.7676,160.7034,78.62,81,38,5.82,scattered clouds
4,4,Raudeberg,NO,61.9875,5.1352,52.86,81,21,16.64,few clouds

In [3]:
# Get the data types of my dataframe file.
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Weather Description     object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Please enter the minimum temperature you would like for your trip? "))
max_temp = float(input("Please enter the maximum temperature you would like for your trip? "))

Please enter the minimum temperature you would like for your trip? 50
Please enter the maximum temperature you would like for your trip? 80

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                   (city_data_df["Max Temp"] >= min_temp)].dropna()
ideal_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Auki,SB,-8.7676,160.7034,78.62,81,38,5.82,scattered clouds
4,4,Raudeberg,NO,61.9875,5.1352,52.86,81,21,16.64,few clouds
5,5,Vostok,RU,46.4856,135.8833,70.12,80,55,0.92,broken clouds
7,7,Port Alfred,ZA,-33.5906,26.8910,58.08,81,35,20.38,scattered clouds
9,9,Vaini,TO,-21.2000,-175.2000,73.56,73,75,14.97,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
ideal_cities_df.count()

City_ID                468
City                   468
Country                468
Lat                    468
Lng                    468
Max Temp               468
Humidity               468
Cloudiness             468
Wind Speed             468
Weather Description    468
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# See Step 3 as I added a dropna() at the end of my filtering statement for my new dataframe.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = ideal_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Auki,SB,78.62,scattered clouds,-8.7676,160.7034,
4,Raudeberg,NO,52.86,few clouds,61.9875,5.1352,
5,Vostok,RU,70.12,broken clouds,46.4856,135.8833,
7,Port Alfred,ZA,58.08,scattered clouds,-33.5906,26.8910,
9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,
10,Jamestown,US,72.72,broken clouds,42.0970,-79.2353,
11,Dongsheng,CN,66.60,moderate rain,39.8161,109.9776,
13,Avarua,CK,78.85,moderate rain,-21.2078,-159.7750,
14,Taree,AU,58.57,broken clouds,-31.9000,152.4667,
19,Bela,IN,77.90,few clouds,25.9333,81.9833,

In [9]:
from config3 import g_key

In [10]:
# 6a. Set parameters to search for hotels within 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
        
    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found... skipping.") 

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Auki,SB,78.62,scattered clouds,-8.7676,160.7034,Auki Motel
4,Raudeberg,NO,52.86,few clouds,61.9875,5.1352,Nordre Silda.
5,Vostok,RU,70.12,broken clouds,46.4856,135.8833,
7,Port Alfred,ZA,58.08,scattered clouds,-33.5906,26.8910,The Halyards Hotel
9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
691,Ampanihy,MG,62.24,clear sky,-24.7000,44.7500,Angora Hotel
693,Chateauroux,FR,60.80,clear sky,46.8167,1.7000,Hôtel Kyriad Chateauroux
694,Natal,BR,77.22,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
695,Igrim,RU,55.63,overcast clouds,63.1906,64.4162,Obshchezhitiye Uchebno-Proizvodstvennogo Tsentra
696,Nosy Varika,MG,65.23,few clouds,-20.5833,48.5333,Hotel Volazara

In [11]:
hotel_df.dtypes

City                    object
Country                 object
Max Temp               float64
Weather Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [12]:
import numpy as np

# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
hotel_df.dropna(inplace=True)
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Auki,SB,78.62,scattered clouds,-8.7676,160.7034,Auki Motel
4,Raudeberg,NO,52.86,few clouds,61.9875,5.1352,Nordre Silda.
7,Port Alfred,ZA,58.08,scattered clouds,-33.5906,26.8910,The Halyards Hotel
9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
10,Jamestown,US,72.72,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
691,Ampanihy,MG,62.24,clear sky,-24.7000,44.7500,Angora Hotel
693,Chateauroux,FR,60.80,clear sky,46.8167,1.7000,Hôtel Kyriad Chateauroux
694,Natal,BR,77.22,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
695,Igrim,RU,55.63,overcast clouds,63.1906,64.4162,Obshchezhitiye Uchebno-Proizvodstvennogo Tsentra
696,Nosy Varika,MG,65.23,few clouds,-20.5833,48.5333,Hotel Volazara

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# Read CSV file.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,3,Auki,SB,78.62,scattered clouds,-8.7676,160.7034,Auki Motel
1,4,Raudeberg,NO,52.86,few clouds,61.9875,5.1352,Nordre Silda.
2,7,Port Alfred,ZA,58.08,scattered clouds,-33.5906,26.8910,The Halyards Hotel
3,9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,10,Jamestown,US,72.72,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,11,Dongsheng,CN,66.60,moderate rain,39.8161,109.9776,Crowne Plaza Ordos
6,13,Avarua,CK,78.85,moderate rain,-21.2078,-159.7750,Paradise Inn
7,14,Taree,AU,58.57,broken clouds,-31.9000,152.4667,All Seasons Country Lodge Taree
8,19,Bela,IN,77.90,few clouds,25.9333,81.9833,Raj Bhawan
9,20,Khromtau,KZ,74.16,few clouds,50.2503,58.4347,Придорожный сервис Кең Дала

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))